https://medium.com/analytics-vidhya/building-classification-model-with-python-9bdfc13faa4b

In [4]:
# Import libraries
## Basic libs
import pandas as pd
import numpy as np
import warnings
## Data Visualization
import seaborn as sns
import matplotlib.pyplot as plt

# Configure libraries
warnings.filterwarnings('ignore')
plt.rcParams['figure.figsize'] = (10, 10)
plt.style.use('seaborn')

In [7]:
# Read in the data
df = pd.read_csv(
    "./data/TT-2018-H1-REDACTED-excluding-Postcodes.csv",
    delimiter=",",
    encoding_errors="replace",
)
df.dataframeName = "2018"

In [8]:
# Clean up the data!

# Rename columns
df = df.rename(columns={
  "ISF": "age", 
  "ISI": "householdSize",
  "ISJ": "numChildrenInHousehold"
})

# Remove participants with empty age
df = df.dropna(subset=["age"])
df = df[df.age != " "]

# Make boolean columns where necessary
df['isRetired'] = np.where(df['SGC'] == "Not working (i.e. under 8hrs/wk) - retired", 1, 0)
df['isHomebound'] = np.where(df['SGF'] == "Not working (i.e. under 8hrs/wk) - housewife/ disabled/ other", 1, 0)
df['usesDVDPlayer'] = np.where(df['QB2K'] == "Not", 0, 1)
df['usesGamesTV'] = np.where(df['QB2A'] == "Not", 0, 1)
df['usesIpod'] = np.where(df['QB2C'] == "Not", 0, 1)
df['usesEbook'] = np.where(df['QB2D'] == "Not", 0, 1)
df['usesGamesHandheld'] = np.where(df['QB2B'] == "Not", 0, 1)
df['usesSmartWatch'] = np.where(df['QB2H'] == "Not", 0, 1)
df['usesSmartSpeaker'] = np.where(df['QB2I'] == "Not", 0, 1)
df['usesGamesVR'] = np.where(df['QB2J'] == "Not", 0, 1)
df['usesMobile'] = np.where(df['QD2'] == "No mobiles in household", 0, 1)
df['usesSmartphone'] = np.where(df['QD24B'] == "Yes", 1, 0)

# Convert to proper data types
df["age"] = pd.to_numeric(df["age"])

In [10]:
print('Shape of dataframe:', df.shape)
df.head()

Shape of dataframe: (3657, 1005)

,REGSAM,SPN,SE,age,SF,AGEX,QZ8A,QZ8B,QZ8C,QZ8D,...,usesDVDPlayer,usesGamesTV,usesIpod,usesEbook,usesGamesHandheld,usesSmartWatch,usesSmartSpeaker,usesGamesVR,usesMobile,usesSmartphone
0,England,126.0,Female,74,55+,7.0,Not,Not,Not,C2,...,0,0,0,0,0,0,0,0,1,0
1,England,126.0,Male,40,35 - 44,4.0,Not,Not,C1,Not,...,1,0,0,0,0,0,0,0,1,1
2,England,126.0,Female,55,55+,6.0,Not,B,Not,Not,...,1,0,0,0,0,0,0,0,1,1
3,England,126.0,Female,28,25 - 34,3.0,Not,Not,Not,C2,...,1,0,0,0,0,0,0,0,1,1
4,England,126.0,Male,52,45 - 54,5.0,Not,B,Not,Not,...,1,0,0,0,0,0,0,0,1,1